/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../image/1282794.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.0);
    font-family: 'Poppins', sans-serif;
    color: #077262;
}

#user-options {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 95px;
    width: 1440px;
}

#user-options button {
    margin-left: 10px;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #00CEC8;
    height: 400px;
    width: 1440px;
}

#cabecalho img {
    height: 400px;
}

#titulo {  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.1;
    font-size: 2.9rem;
    color: #FFFFFF;
}

#titulo span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #FFFFFF;
}

.titulo-orientacoes {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 250px;
    width: 1320px;
    background-color: #00CEC8;
    color: #077262;
    margin: 40px 0;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 20px;
}

.titulo-orientacoes h2 {
    font-size: 2.6rem;
    font-weight: 800;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #ffffff;
}

.titulo-orientacoes p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
    line-height: 1.1;
    margin-bottom: 20px;
}

.orientacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 360px;
    width: 1320px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.orientacoes-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    font-weight: 800;
    padding: 0 50px;
    background-color: #00CEC8;
    height: 360px;
    width: 660px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.orientacoes-texto h2 {
    text-align: justify;
    font-size: 25px;
    margin: 10px;
    text-shadow: 2px 2px 4px #ffffff;
}

.figure-orientacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0f6f4;
    height: 360px;
    width: 660px;
    margin: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.imagem-orientacoes {
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.orientacoes-justicado {
    text-align: justify;
}

.orientacoes-titulo {
    font-size: 1.5rem;
    margin-bottom: 35px;
}

.button_saiba_mais,
.botaoLogin,
.botaoDark,
.botaoFont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00CEC8;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 150px;
    line-height: 1.1;
    padding: 10px 16px;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button_saiba_mais {
    background-color: #FFFFFF;
    color: #00CEC8;
}

.button_saiba_mais:hover,
.button_saiba_mais:focus {
    background-color: #00928d;
}

.footer {
    background-color: #00CEC8;
    width: 1440px;
    height: 400px;
    margin-top: 100px;
}

@media screen and (max-width: 360px) {

#opcoesUsuarios {
    display: flex;
    flex-direction:row-reverse;
    align-items:end;
    height: 65px;
    width: 360px;        
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #00CEC8;
    height:150px;
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 10px;
    border-radius: 20px;    
}

.cabecalho img {  
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    image-rendering: auto;
}

#prancheta {
    display: none;
}

.titulo {      
    flex-direction: center;                         
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
}

} */