
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../image/1282794.jpg);
    background-size:cover;
    image-rendering: auto;
    background-position: center;    
    font-family: 'Poppins', sans-serif;
    color: #077262;
    transition: .5s;
    
}



#opcoesUsuarios {
    align-items: center;
    display: flex;
    height: 95px;
    width: 1440px;
    flex-direction: row-reverse;
}

#opcoesUsuarios button {
    margin-left: 10px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #00CEC8;
    height: 400px;
    width: 1440px;
}

.cabecalho img {
    height: 100%;
}

.titulo {      
    flex-direction: center;                         
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.10;
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
}

.aviso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px;
    background-color: #00CEC8;
    height: 250px;
    width: 1320px;
    border-radius: 20px;
}

.aviso h2 {
    line-height: 1;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    text-shadow: 2px 2px 4px #ffffff;
} 

.tituloOrientacoes {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height:100%;
    width: 1320px;
    background-color: #00CEC8;
    color: #077262;
    margin: 40px 0;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 20px;
}

.tituloOrientacoes h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #ffffff;
}

.tituloOrientacoes p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
    line-height: 1.1;
    margin-bottom: 20px;
}

.orientacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 360px;
    width: 1320px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.orientacoesTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-weight: 800;
    padding: 0 50px;
    background-color: #00CEC8;
    height: 360px;
    width: 660px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.orientacoesTexto h2 {
    text-align: justify;
    font-size: 1.75em;
    margin: 10px;
    text-shadow: 2px 2px 4px #ffffff;
}

.orientacoesTexto p {
    text-align: justify;
    font-size: 1em;
    margin: 10px;
    text-shadow: 2px 2px 4px #ffffff;
}

.imagemOrientacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 660px;
    margin: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.imagemOrientacoes {
    width: auto;
    height: 100%;
    max-width: 50%;
    object-fit: cover;
}

.botao,
.modoEscuro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ffffff ;
    color: #00CEC8;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    height: 40px;
    width: 150px;
    line-height: 1.1;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

a {
    text-decoration: none;
    color:#00928d; 
}

a:hover,
a:focus {
    text-decoration: none;
    color:#ffffff;
}

.botao:hover,
.botao:focus {
    background-color: #00928d;
    color: #ffffff;
}

.modoEscuro:hover,
.modoEscuro:focus {
    background-color: #00928d;
    color: #ffffff;
}

.footer {
    margin-top: 100px;
    background-color: #FFFFFF;
    width: 1440px;
    height: 400px;
}

#senac {
    display: flex;
    flex-direction: row;
    background-color: #00CEC8;
    width: 1440px;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

#governoLogo {
    width: 150px;
    height: 100px;
}

#senacLogo {
    width: 110px;
    height: 65px;
}

#localizacao {
    display: flex;
    width: 1440px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

#localizacaoImagem{
    margin-right: 10px;
}

@media screen and (max-width: 360px) {

    #opcoesUsuarios {
        display: flex;
        flex-direction:row-reverse;
        align-items:end;
        height: 65px;
        width: 360px;        
    }

    .cabecalho {
        display: flex;
        justify-content: space-between;
        background-color: #00CEC8;
        height:150px;
        width: 350px;
        margin-left: 5px;
        margin-right: 5px;
        padding-right: 10px;
        border-radius: 20px;
    }
    
    .cabecalho img {  
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        image-rendering: auto;
    }

    #prancheta {
        display: none;
    }
    
    .titulo {      
        flex-direction: center;                         
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        color: #FFFFFF;
        text-align: center;
    }

    .aviso {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 0 15px;
        background-color: #00CEC8;
        height: 100px;
        width: 350px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 20px;
    }

    .aviso h2 {
        line-height: 1;
        text-align: center;
        font-size: 1.2em;
        font-weight: 800;
        text-shadow: 1px 1px 2px #ffffff;
    }

    .tituloOrientacoes {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        height: 100%;
        width: 350px;
        background-color: #00CEC8;
        color: #077262;
        margin: 10px 0;
        margin-bottom: 10px;
        padding: 50px;
        border-radius: 20px;
    }
    
    .tituloOrientacoes h2 {
        font-size: 1.1rem;
        font-weight: 800;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px #ffffff;
    }
    
    .tituloOrientacoes p {
        font-size: 0.8rem;
        font-weight: 500;
        text-align: justify;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    .orientacoes {
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        min-height: 500px;
        width: 350px;
        margin-bottom: 10px;
        border-radius: 20px;
        
    }
    
    .orientacoesTexto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        font-weight: 800;
        padding: 10px;
        background-color: #00CEC8;
        min-height: 50%; 
        width: 350px;
        margin-left: 5px;
        margin-right: 5px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .orientacoesTexto h2 {
        text-align: justify;
        font-size: 1em;
        margin: 5px;
        text-shadow: 1px 1px 2px #ffffff;
    }
    
    .orientacoesTexto p {
        text-align: justify;
        font-size: 0.6em;
        margin: 10px;
        text-shadow: 1px 1px 2px #ffffff;
    }
    
    .imagemOrientacoes {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50%;
        width: 350px;
        margin: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
        overflow: hidden;
    }

    .imagemOrientacoes {
        max-width: 100%;
        object-fit: cover;
    }

    .botao,
    .modoEscuro {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#ffffff ;
        color: #00CEC8;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 0.6em;
        height: 20px;
        width: 60px;
        line-height: 1.1;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: none;
        transition: color 100ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
}

@media screen and (max-width: 428px) {
    
    #opcoesUsuarios {
        display: flex;
        flex-direction:row-reverse;
        align-items:end;
        height: 65px;
        width: 428px;        
    }

    .cabecalho {
        display: flex;
        justify-content: space-between;
        background-color: #00CEC8;
        height:150px;
        width: 418px;
        margin-left: 5px;
        margin-right: 5px;
        padding-right: 10px;
        border-radius: 20px;
    }
    
    .cabecalho img {  
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        image-rendering: auto;
    }

    #prancheta {
        display: none;
    }
    
    .titulo {      
        flex-direction: center;                         
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        color: #FFFFFF;
        text-align: center;
    }

    .aviso {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 0 15px;
        background-color: #00CEC8;
        height: 100px;
        width: 418px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 20px;
    }

    .aviso h2 {
        line-height: 1;
        text-align: center;
        font-size: 1.2em;
        font-weight: 800;
        text-shadow: 1px 1px 2px #ffffff;
    }

    .tituloOrientacoes {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        height: 100%;
        width: 418px;
        background-color: #00CEC8;
        color: #077262;
        margin: 10px 0;
        margin-bottom: 10px;
        padding: 50px;
        border-radius: 20px;
    }
    
    .tituloOrientacoes h2 {
        font-size: 2em;
        font-weight: 800;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px #ffffff;
    }
    
    .tituloOrientacoes p {
        font-size: 1em;
        font-weight: 500;
        text-align: justify;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    .orientacoes {
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        min-height:500px;
        width: 418px;
        border-radius: 20px;
       
    }
    
    .orientacoesTexto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        font-weight: 800;
        padding: 10px;
        background-color: #00CEC8; 
        width: 418px;
        margin-left: 5px;
        margin-right: 5px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow-y: auto; 
    }

    .orientacoesTexto h2 {
        text-align:center;
        font-size: 1.5em;
        margin: 5px;
        text-shadow: 1px 1px 2px #ffffff;
    }
    
    .orientacoesTexto p {
        text-align:justify;
        font-size: 1em;
        
        text-shadow: 1px 1px 2px #ffffff;
    }
    
    .imagemOrientacoes {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 418px;
        margin: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
        overflow: hidden;
    }

    .imagemOrientacoes {
        max-width: 100%;
        object-fit: cover;
    }

    .botao,
    .modoEscuro {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#ffffff ;
        color: #00CEC8;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 0.6em;
        height: 20px;
        width: 60px;
        line-height: 1.1;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: none;
        transition: color 100ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
}